.pane {
	-fx-background-color: blue;
	-fx-text-fill: white;
}

.separator {
	-fx-background-color: lightblue;
	-fx-background-radius: 2;
}

.separator:horizontal .line {
	-fx-border-color: lightblue transparent transparent transparent;
}

.separator:vertical .line {
	-fx-border-color: lightblue transparent transparent transparent;
}

/* Custom classes for my controls */
.label {
	-fx-background-color: blue;
	-fx-text-fill: white;
}
